header {
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: rgb(249, 250, 251);
    border-bottom-width: 1px;
}

main {
    background-color: rgb(249, 250, 251);
}

.main-body {
    max-width: 1300px;
    margin: auto;
}

.cards-main {
    display: block;
    margin: auto;
    text-align: center;
}

.card-item {
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(224, 223, 223);
    font-size: .75rem;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.card-photo {
    height: 200px;
    object-fit: cover;
}

.blue-pill {
    border: 1px solid rgb(178, 197, 255);
    background-color: rgb(207, 219, 255);
    color: blue;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    padding: 1px 10px;
    border-radius: 20px;
    font-weight: 600;
    cursor: default;
}

.red-pill {
    border: 1px solid rgb(255, 182, 182);
    background-color: rgb(255, 218, 218);
    color: rgb(191, 0, 0);
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    padding: 1px 10px;
    border-radius: 20px;
    font-weight: 600;
    cursor: default;
}

.green-pill {
    border: 1px solid rgb(155, 214, 155);
    background-color: rgb(232, 255, 232);
    color: rgb(2, 158, 2);
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    padding: 1px 10px;
    border-radius: 20px;
    font-weight: 600;
    cursor: default;
}

.progressbar {
    width: 100%;
}

.bottom-btn {
    border: 1px solid transparent;
    border-color: rgb(196, 196, 196);
    color: black;
}

.total-projects {
    border: 1px solid rgb(178, 197, 255);
    background-color: rgb(207, 219, 255);
    color: blue;
}

.in-progress {
    border: 1px solid rgb(155, 214, 155);
    background-color: rgb(232, 255, 232);
    color: rgb(2, 158, 2);
}

.finished {
    border: 1px solid rgb(213, 213, 213);
    background-color: rgb(246, 246, 246);
    color: gray;
}

.urgent-count {
    border: 1px solid rgb(255, 182, 182);
    background-color: rgb(255, 218, 218);
    color: rgb(191, 0, 0);
}

.card-table {
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 1000px) {
    .card-table {
        grid-template-columns: 1fr;
    }
}

.search-box {
    height: 40px;
    font-size: 14px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="rgb(141, 147, 167)" class="bi bi-search" viewBox="-5 -9 20 25"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>') no-repeat scroll 7px 7px;;
    padding-left: 30px;
    background-color: rgb(249, 250, 251);
}

.search-box::placeholder {
    color: rgb(141, 147, 167);

}

.navigation, .filterCards {
    border: 1px solid rgb(249, 250, 251);
}

.filterCards {
    transition: all .3s;
}

.filterCards:hover {
    transform: translate(0px, -5px);
    border-width: 1px;
}

.search-icon {
    background: transparent;
}

.dropdown-icon {
    background-color: rgb(249, 250, 251);
    height: 40px;
    font-size: 14px;
    width: 110px;
}